{% extends 'base.html' %}
{% block title %}{{ city_name | capitalize }} İlçeleri{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-white text-center my-4">{{ city_name | capitalize }} İlçeleri</h2>
    <div class="row justify-content-center">

        {% for i in range(3) %}
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('district_camera', city_name=city_name, district_name=districts[i].name) }}" class="text-decoration-none">
                <div class="card h-100 text-center shadow camera-card">
                    <img src="{{ districts[i].image_url if districts and i < districts|length else '' }}"
                         class="card-img-top" alt="Kamera">
                    <div class="card-body">
                        <h5 class="card-title text-dark">
                            {{ districts[i].name if districts and i < districts|length else '' }}
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
