{% extends 'base.html' %}
{% block title %} Kameralar {% endblock %}

{% block content %}
<main class="main-content">

    <div class="container">
        <h1 class="text-center my-4 text-white">Şehir Kameraları</h1>
        <div class="camera-container">
            <div class="camera-card">
                <img src="/static/images/kamera.jpg" alt="Kamera 1">
                <div class="camera-title">Kamera 1</div>
            </div>
            <div class="camera-card">
                <img src="/static/images/kamera.jpg" alt="Kamera 2">
                <div class="camera-title">Kamera 2</div>
            </div>
            <div class="camera-card">
                <img src="/static/images/kamera.jpg" alt="Kamera 3">
                <div class="camera-title">Kamera 3</div>
            </div>
            <div class="camera-card">
                <img src="/static/images/kamera.jpg" alt="Kamera 4">
                <div class="camera-title">Kamera 4</div>
            </div>
            <div class="camera-card">
                <img src="/static/images/kamera.jpg" alt="Kamera 5">
                <div class="camera-title">Kamera 5</div>
            </div>
            <div class="camera-card">
                <img src="/static/images/kamera.jpg" alt="Kamera 6">
                <div class="camera-title">Kamera 6</div>
            </div>
        </div>
    </div>
</main>
{% endblock %}